<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>A19B2FFB-F039-4447-8E21-7E8107068E96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F78A302-1A1F-41EE-91C9-01DEF79E6FC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HubSpot VPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
#!/usr/bin/osascript

# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title VPN
# @raycast.mode compact

# Optional parameters:
# @raycast.icon 🌎

# Documentation:
# @raycast.description Connect to and disconnect from the VPN
# @raycast.author Nat Dempkowski

	tell application "System Events" to tell process "GlobalProtect"
		click menu bar item 1 of menu bar 2 -- Activates the GlobalProtect "window" in the menubar
		click button 2 of window 1 -- Clicks either Connect or Disconnect
		click menu bar item 1 of menu bar 2 -- This will close the GlobalProtect "window" after clicking Connect/Disconnect. This is optional.
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4F78A302-1A1F-41EE-91C9-01DEF79E6FC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A19B2FFB-F039-4447-8E21-7E8107068E96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4F78A302-1A1F-41EE-91C9-01DEF79E6FC7</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>A19B2FFB-F039-4447-8E21-7E8107068E96</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
