[user]
	name = Danny Little
	email = dalittle@hubspot.com
[color]
	ui = auto
[core]
	editor = vim
	pager = less -r --mouse
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[include]
	path = ~/.gitconfig.local
