[user]
	name = Danny Little
	email = dannyl9979@gmail.com
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = /Users/dalittle/.gitignore_global
	hooksPath = /Users/dalittle/.git_hooks
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[include]
	path = ~/.gitconfig.local
