 {:profiles
  {:Default {:default true
            :sim     80
            :delay   500
            :alone   500
            :held    500
}}

:templates {
    :open "open \"%s\""
    :open-app "open -a \"%s\""
}
 ;; simlayers are like layers, but only work in a certain 'time frame'.
 ;; you should probably only use them for letter keys that you type regularly.
 ;; for other keys, e.g. espace, you can probably just use a normal layer.
 :simlayers   {
        :c-cmd {:key :c}
        :m-cmd {:key :m}
        :comma-ctrl {:key :comma}
        :l-shift {:key :l}
 }

 :layers {
        :z-mod {:key :z }
        :q-mod {:key :q}
        :launcher {:key :backslash}
 }

 :devices {
    :macbook_internal [
            {:vendor_id 1452}
    ]
    :mistel [
            {:vendor_id 1241}
    ]
    :moonlander [
            {:vendor_id 12951}
    ]
 }

 :applications {
        :vscode "com.microsoft.VSCode"
 }

 :main [
        ;; misc modifications

        {:des "on mistel keyboard, command = alt and alt = command"
                :rules [:mistel
                        [:##left_command :##left_option]
                        [:##left_option :##left_command]
                        [:##right_option :##right_command]
                        [:##right_command :##right_option]

                        [:!Rdelete_or_backspace :!Odelete_or_backspace]
                        [:!OQspacebar :vk_none]
                ]}
        {:des "left shift + space = command + space"
                :rules [[:!Sspacebar :!Cspacebar]]}
        {:des "insert -> copy screenshot"
                :rules [[:print_screen :!STC4]]}
        {:des "right command + caps = command + command + escape"
                :rules [
                        [:!Qcaps_lock :!COescape]
                        [:!Qescape :!COescape]
                        ]}

        {:des "vscode shortcuts"
                :rules [:vscode
                        [:!SOk :!SOup_arrow]
                        [:!SOj :!SOdown_arrow]
                        [:!STk :!STup_arrow]
                        [:!STj :!STdown_arrow]
                ]}

        {:des "right shift + fn + num = fn key"
                :rules [:mistel
                        [:!Rf1 :f1]
                        [:!Rf2 :f2]
                        [:!Rf3 :f3]
                        [:!Rf4 :f4]
                        [:!Rf5 :f5]
                        [:!Rf6 :f6]
                        [:!Rf7 :f7]
                        [:!Rf8 :f8]
                        [:!Rf9 :f9]
                        [:!Rf10 :f10]
                        [:!Rf11 :f11]
                        [:!Rf12 :f12]

                        [:!Sf1 :f1]
                        [:!Sf2 :f2]
                        [:!Sf3 :f3]
                        [:!Sf4 :f4]
                        [:!Sf5 :f5]
                        [:!Sf6 :f6]
                        [:!Sf7 :f7]
                        [:!Sf8 :f8]
                        [:!Sf9 :f9]
                        [:!Sf10 :f10]
                        [:!Sf11 :f11]
                        [:!Sf12 :f12]
                ]}

        ;; {:des "left ctrl + tilde sets tap layer to 1" :rules [[:!TOgrave_accent_and_tilde nil :!tap-layer {:alone [["tap-layer" 1]]}]]}
        ;; {:des "left ctrl + tilde sets tap layer to 0" :rules [[:!TOgrave_accent_and_tilde nil :tap-layer {:alone [["tap-layer" 0]]}]]}

        ;; when caps is held, it sets caps-mod to 1. this means that unlike the other
        ;; simlayers, i can hold it for a second and then still be in caps-mod.
        ;; {:des "rshift + caps = home layer"
        ;;         :rules [[:!Rcaps_lock [["tap-layer" 0 ]]]] }
        {:des "caps lock = escape if tapped alone, acts as modifier when held"
                :rules [
                        [:caps_lock ["nav-layer" 1] nil {:alone [:escape] :afterup ["nav-layer" 0]}]
                        [:tab ["meh-layer" 1] nil {:alone [:tab] :afterup ["meh-layer" 0]}]
                        ]}

        ;; {:des "shift + slash = qmark more reliably (simultaneous)"
        ;; :rules [[[:left_shift :slash] :!Sslash]
        ;;         [[:right_shift :slash] :!Rslash]]}



        ;; command keys on left side
        {:des "j-shift mapping"
                :rules [:l-shift
                        [:q :!Rq]
                        [:w :!Rw]
                        [:e :!Re]
                        [:r :!Rr]
                        [:t :!Rt]
                        [:y :!Ry]
                        [:a :!Ra]
                        [:s :!Rs]
                        [:d :!Rd]
                        [:f :!Rf]
                        [:g :!Rg]
                        [:z :!Rz]
                        [:x :!Rx]
                        [:c :!Rc]
                        [:v :!Rv]
                        [:b :!Rb]
                        [:1 :!C1]
                        [:2 :!C2]
                        [:3 :!C3]
                        [:4 :!C4]
                        [:5 :!C5]
        ]}

        ;; ;; command keys on left side
        {:des "m-cmd mapping"
                :rules [:m-cmd
                        [:f :!Cf] [:w :!Cw] [:r :!Cr] [:s :!Cs] [:t :!Ct] [:tab :!Ctab]
                        [:grave_accent_and_tilde :!Cgrave_accent_and_tilde] [:d :!Cd] [:a :!Ca]
                        [:z :!Cz] [:x :!Cx] [:c :!Cc] [:v :!Cv]
                        [:1 :!Cq]
        ]}

        ;; command keys on right side
        {:des "c-cmd mapping"
                :rules [:c-cmd
                        [:x :!Oleft_control]
                        [:k [:c :k] !tap-layer]
                        [:l :!Cl] [:n :!Cn] [:p :!Cp]
                        [:comma :!Ccomma] [:period :!Cperiod] [:slash :!Cslash]
                        ]}
        ;; {:des "x-ctrl mapping"
        ;;         :rules [:x-ctrl
        ;;                 [:c :!Tleft_option]
        ;;                 [:u :!Wu] [:o :!Wo] [:p :!Wp] [:h :!Wh] [:j :!Wj] [:k :!Wk]
        ;;                 [:l :!Wl] [:n :!Wn] [:m :!Wm]
        ;;                 [:semicolon :!Squote]
        ;;                 [:comma :!Wcomma]
        ;;                 [:backslash :!Wbackslash]
        ;;                 [:period :!Wperiod]
        ;;         ]}
        ;; {:des "comma-ctrl mapping"
        ;;         :rules [:comma-ctrl
        ;;                 [:a :!Wa] [:e :!We] [:r :!Wr] [:n :!Wn] [:d :!Wd] [:c :!Wc]
        ;;                 [:m :!Wm] [:spacebar [:comma :spacebar]] [:s :!Cs]
        ;;                 [:grave_accent_and_tilde :!Wgrave_accent_and_tilde]]}

        ;; when holding down caps
        {:des "nav-layer mapping"
                :rules [:nav-layer
                 ;; ijkl arrows
                [:##d :left_command !:moonlander]
                [:##s :left_option !:moonlander]
                [:##a :left_shift !:moonlander]
                [:##h [{:key :left_arrow :repeat true}] !:moonlander]
                [:##j [{:key :down_arrow :repeat true}] !:moonlander]
                [:##k [{:key :up_arrow :repeat true}] !:moonlander]
                [:##l [{:key :right_arrow :repeat true}] !:moonlander]
                [:##y [{:key :!Oleft_arrow :repeat true}] !:moonlander]
                [:##u [{:key :!Odown_arrow :repeat true}] !:moonlander]
                [:##i [{:key :!Oup_arrow :repeat true}] !:moonlander]
                [:##o [{:key :!Oright_arrow :repeat true}] !:moonlander]
                [:##n [{:key :!Cleft_arrow :repeat true}] !:moonlander]
                [:##m [{:key :!Cdown_arrow :repeat true}] !:moonlander]
                [:##comma [{:key :!Cup_arrow :repeat true}] !:moonlander]
                [:##period [{:key :!Cright_arrow :repeat true}] !:moonlander]
                [:##spacebar :delete_or_backspace :macbook_internal]
                 ]}
        {:des "tab meh-layer"
                :rules [:meh-layer
                [:u :!STOu]
                [:j :!STOj]
                [:k :!STOk]
                [:l :!STOl]
                [:i :!STOi]
                [:o :!STOo]
                [:p :!STOp]
                [:semicolon :!STOsemicolon]
                ]}

        {:des "q-mod mapping"
                :rules [:q-mod
                [:u [:q :u]]
                [:w :display_brightness_decrement !moonlander]
                [:e :display_brightness_increment !moonlander]
                [:r :mission_control !moonlander]
                [:s :rewind !moonlander]
                [:d :play_or_pause !moonlander]
                [:f :fastforward !moonlander]
                [:y :!TOy !moonlander]
                [:i :!TOi !moonlander]
                [:j :!TOj !moonlander]
                [:k :!TOk !moonlander]
                [:n :volume_decrement !:moonlander]
                [:m :volume_increment !:moonlander]
                [:slash :mute !:moonlander]
                [:comma :!COleft_arrow !:moonlander]
                [:period :!COright_arrow !:moonlander]
                [:o :!Tleft_arrow !moonlander]
                [:p :!Tright_arrow !moonlander]
                [:h [:spacebar :equal_sign :spacebar] !:moonlander]
                [:l [:grave_accent_and_tilde :grave_accent_and_tilde :left_arrow] !:moonlander]
                [:semicolon [:!Squote :!Squote :left_arrow] !:moonlander]
                [:quote [:quote :quote :left_arrow] !:moonlander]
                 ]}

        {:des "z-mod mapping"
        :rules [:z-mod
                [:e [:z :e]]
                [:o [:z :o]]
                [:semicolon :equal_sign !:moonlander]
                [:j :!S9] [:k :!S0] [:m :open_bracket ] [:comma :close_bracket][:u :!Sopen_bracket] [:i :!Sclose_bracket]
                [:x :!S1]
                [:c :!S2]
                [:v :!S3]
                [:b :!S4]
                [:s :!S5]
                [:d :!S6]
                [:f :!S7]
                [:g :!S8]
                ]}

        {:des "launcher mode"
                :rules [:launcher
                [:t [:open-app "iterm"]]
                [:b [:open-app "google chrome"]]
                [:c [:open-app "visual studio code"]]
                [:s [:open "/Users/dannylittle/Library/Mobile Documents/com~apple~CloudDocs/Bowdoin Classes"]]
                 ]
                 :simlayer-threshold 500}


        ;; this messes stuff up unless put at the bottom

        ;; slash acts as shift when held with another key
        ;; {:des "slash = shift if held with another key"
        ;;         :rules [[:##slash :right_shift nil {:alone :slash}]]}
        ;; {:des "slash + space only equals slash + space" :rules [[:!Rspacebar [:slash :spacebar]]]}


        {:des "switch colon and semicolon"
                :rules [[:semicolon :!Ssemicolon] [:!Ssemicolon :semicolon]]}


        ;; {:des "comma is ! if held"
        ;;         :rules [[:period :period nil {
        ;;                         :held [:delete_or_backspace :!S1]
        ;;                         :params {:held 150}}]]}

        ;; {:des "period is @ if held"
        ;;         :rules [[:comma :comma nil {
        ;;                         :held [ {:key :delete_or_backspace :repeat false}{:key :!S2 :repeat false} ]
        ;;                         :params {:held 50}}]]}


        ;; {:des "test for double-tap mode"
        ;; :rules  [
        ;; ;; set double esc mode if already pressed once
        ;; [:comma ["double-comma-mode" 1] ["comma-pressed-once" 1]]
        ;; ;; if not already pressed once, set already pressed and unset doube comma mode
        ;; [:comma [["comma-pressed-once" 1]] ["double-comma-mode" 0] {
        ;;         :delayed {
        ;;                 ;; if we press comma and then nothing after
        ;;                 :invoked [:comma ["comma-pressed-once" 0]]
        ;;                 ;; if we press comma and then another key shortly after
        ;;                 :canceled [:comma ["comma-pressed-once" 0]]}
        ;;         :params {:delay 250}}]
        ;;                 ;; if we are in double comma mode, do these
        ;;         :double-comma-mode
        ;;         [:comma ["double-comma-mode" 0]]
        ;;         [:a [:delete_or_backspace :!S4 ["double-comma-mode" 0]]]]}

   ]
   :simlayer-threshold 160}

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any


;; anatomy of a rule:
;; simple remapping: [:from_code :to_code]
;; multiple to's: [:from_code [:to_code_1 :to_code_2 ["var" 1]]
;; conditional remapping: [:from_code :to_code :condition]
;; multiple conditions: [:from_code :to_code [:condition1 :condition2] (can use ! for negation)
;; simultaneous: [[:period :comma] :!S1] ;;map simultaneous period and comma to !
;; you can also define an "other options" section for stuff like if held, if alone:
;; [[:comma :comma nil {
;;                 ^condition is 'nil', so by default, it goes to comma.
;;         :held [:delete_or_backspace :!S1]
;;         :params {:held 200}}]]


;; todo:
