 {:profiles
  {:Default {:default true
            :sim     50
            :delay   500
            :alone   500
            :held    500
}}

:templates {
    :open "open \"%s\""
    :open-app "open -a \"%s\""
} 
 ;; simlayers are like layers, but only work in a certain 'time frame'. 
 ;; you should probably only use them for letter keys that you type regularly.
 ;; for other keys, e.g. espace, you can probably just use a normal layer. 
 :simlayers   {
        :caps-mod {:key :caps_lock}

        :backspace-mod {:key :delete_or_backspace}
        :c-cmd {:key :c}
        :m-cmd {:key :m}
        :x-ctrl {:key :x}
 }

 :layers {
        :comma-ctrl {:key :comma}
        :z-mod {:key :z }
        :q-mod {:key :q}
        :launcher {:key :open_bracket}
 }

 :devices {
    :macbook_internal [
            {:vendor_id 1452}
    ]
    :mistel [
            {:vendor_id 1241}
    ]
 }

 :main [
 

        ;; misc modifications 
        {:des "left shift + space = command + space"
                :rules [[:!Sspacebar :!Cspacebar]]}
        { :des "rshift + backsp = opt + backsp" 
                :rules [[:!Rdelete_or_backspace :!Odelete_or_backspace]]}
        {:des "insert -> copy screenshot"
                :rules [[:insert :!STC4]]}


        {:des "left control alone sets tap layer to 1" :rules [[:left_control :left_control ["tap-layer" 0] {:alone [["tap-layer" 1]]}]]}    
        {:des "left control alone sets tap layer to 1" :rules [[:left_control :left_control ["tap-layer" 1] {:alone [["tap-layer" 0]]}]]}    
    
        ;; {:des "tab alone sets tap layer to 1" :rules [[:##tab :tab nil {:alone [["tap-layer" 1]]}]]}    
       
        ;; when caps is held, it sets caps-mod to 1. this means that unlike the other
        ;; simlayers, i can hold it for a second and then still be in caps-mod. 
        {:des "rshift + caps = home layer"
                :rules [[:!Rcaps_lock [["tap-layer" 0 ]]]] }
        {:des "caps lock = escape if tapped alone, acts as modifier when held"
                :rules [[:caps_lock ["caps-mod" 1] nil {:alone [:escape ["tap-layer" 0] ["numpad" 0]] :afterup ["caps-mod" 0]}]]}
        {:des "rshift = home layer if alone" 
                :rules [[:##right_shift :right_shift nil {:alone ["tap-layer" 0 ]}]]}

        ;; command keys on left side
        {:des "m-cmd mapping"
                :rules [:m-cmd
                        [:f :!Cf] [:w :!Cw] [:r :!Cr] [:s :!Cs] [:t :!Ct] [:tab :!Ctab] 
                        [:grave_accent_and_tilde :!Cgrave_accent_and_tilde] [:d :!Cd] [:a :!Ca ["cmdq" 0]] [:z :!Cz] [:x :!Cx] [:c :!Cc] [:v :!Cv]

                        ;; if cmdq == 1, press a to quit and cleanup notification and variable 
                        [:a [:!Cq ["cmdq" 0] [:noti :cmdq]] ["cmdq" 1]]

                        ;; on initially pressing mcmd-q, show notification and set variable
                        [:q [[:noti :cmdq "Press \"a\" to quit."] ["cmdq" 1]] 
                            nil {
                                :delayed {
                                        ;; cleanup noti and variable if it :delay param passes
                                        :invoked [["cmdq" 0][:noti :cmdq]]
                                        ;; if another key hit before :delay, do the same cleanup
                                        :cancelled [["cmdq" 0][:noti :cmdq]]
                                }
                                :params {:delay 1000}
                        }]
        ]}

        ;; command keys on right side
        {:des "c-cmd mapping"
                :rules [:c-cmd
                        [:k :!Cdown_arrow tap-layer]
                        [:k :!Ck !tap-layer]
                        [:l :!Cl] [:n :!Cn] [:p :!Cp]
                        [:comma :!Ccomma] [:period :!Cperiod] [:slash :!Cslash]
                        [:semicolon :quote]
                        ]}
        {:des "x-ctrl mapping"
                :rules [:x-ctrl
                        [:u :!Wu] [:o :!Wo] [:p :!Wp] [:h :!Wh] [:j :!Wj] [:k :!Wk]
                        [:l :!Wl] [:n :!Wn] [:m :!Wm]
                        [:semicolon :!Squote]
                        [:slash :!Cslash]]}
        {:des "comma-ctrl mapping"
                :rules [:comma-ctrl
                        [:a :!Wa] [:e :!We] [:r :!Wr] [:n :!Wn] [:d :!Wd] [:tab :a]
                        [:m :!Wm] [:spacebar [:comma :spacebar]] [:s :!Cs]]}

        ;; when holding down caps
        {:des "caps-mod mapping"
                :rules [:caps-mod
                ;; hjkl arrows
                [:##k [{:key :up_arrow :repeat true}]] [:##l [{:key :right_arrow :repeat true}]]
                [:##j [{:key :down_arrow :repeat true}]] [:##h [{:key :left_arrow :repeat true}]]
                [:##s :left_shift]
                [:##a :left_option]
                ;; switch tabs in most apps
                [:comma :!COleft_arrow]
                [:period :!COright_arrow]
                [:spacebar :delete_or_backspace :macbook_internal]
                 ]}

        ;; after tapping shift once, these will be set (until hit escape).
        {:des "tap-layer mapping"
                :rules [:tap-layer
                 [:##k [{:key :up_arrow :repeat true}]] [:##l [{:key :right_arrow :repeat true}]]
                 [:##j [{:key :down_arrow :repeat true}]] [:##h [{:key :left_arrow :repeat true}]]
                [:##s :left_shift]
                [:##a :left_option]
                ;; switch tabs in most apps
                [:comma :!COleft_arrow]
                [:period :!COright_arrow]
                 ]}

        {:des "q-mod mapping"
                :rules [:q-mod
                [:j :!Shyphen] [:##k :hyphen] [:##m :!Sequal_sign] [:##comma :equal_sign]
                [:semicolon :quote]
                [:##period :backslash] 
                 [:n ["numpad" 1]]
                                 
                 [:e :display_brightness_decrement]
                 [:r :display_brightness_increment]
                 [:s :play_or_pause]
                 [:d :rewind]
                 [:f :fastforward]
                 [:u [:q :u]]
                 ]}

        {:des "z-mod mapping"
        :rules [:z-mod 
                [:j :!S9] [:k :!S0] [:m :open_bracket ] [:comma :close_bracket][:u :!Sopen_bracket] [:i :!Sclose_bracket] 
                [:semicolon :!Squote]
                [:s :!S3]
                [:d :!S4]
                [:f :!S5]
                [:x :!S6]
                [:c :!S7]
                [:v :!S8]
                ]}

        {:des "numpad"
                :rules [:numpad
                 [:u :4] [:i :5] [:o :6] 
                 [:j :1] [:k :2] [:l :3] 
                 [:m :0]]}

        ;; backspace mod should be things you only want with a split keyboard. 
        ;; e.g. media / funciton keys        
        {:des "backspace mod"
                :rules []}       

        {:des "launcher mode"
                :rules [:launcher
                [:t [:open-app "iterm"]]
                [:b [:open-app "google chrome"]]
                [:c [:open-app "visual studio code"]]
                [:s [:open "users/dannylittle/Library/Mobile Documents/Bowdoin Classes"]]
                 ]
                 :simlayer-threshold 500}
                 
        
        ;; this messes stuff up unless put at the bottom

        ;; slash acts as shift when held with another key
        {:des "slash = shift if held with another key"
                :rules [[:##slash :right_shift nil {:alone :slash}]]}
        {:des "shift + slash = qmark more reliably (simultaneous)" 
                :rules [[[:left_shift :slash] :!Rslash] [[:right_shift :slash] :!Rslash]]}
        {:des "slash + space only equals slash + space" :rules [[:!Rspacebar [:slash :spacebar]]]}
 
        {:des "switch colon and semicolon"
                :rules [[:semicolon :!Ssemicolon] [:!Ssemicolon :semicolon]]}


        {:des "comma is ! if held"
                :rules [[:comma :comma nil {
                                :held [:delete_or_backspace :!S1]
                                :params {:held 200}}]]}
       
        {:des "period is @ if held"
                :rules [[:period :period nil {
                                :held [:delete_or_backspace :!S2]
                                :params {:held 200}}]]}


        ;; {:des "test for double-tap mode"
        ;; :rules  [
        ;; ;; set double esc mode if already pressed once
        ;; [:comma ["double-comma-mode" 1] ["comma-pressed-once" 1]]
        ;; ;; if not already pressed once, set already pressed and unset doube comma mode
        ;; [:comma [["comma-pressed-once" 1]] ["double-comma-mode" 0] 
        ;;         ;; if we press comma and then nothing after
        ;;         {:delayed {:invoked [:comma ["comma-pressed-once" 0]] 
        ;;                 ;; if we press comma and then another key shortly after
        ;;                 :canceled [:comma ["comma-pressed-once" 0]]}
        ;;         :params {:delay 250}}]
        ;;                 ;; if we are in double comma mode, do these
        ;;                 :double-comma-mode
        ;;                 [:comma ["double-comma-mode" 0]]
        ;;                 [:a [:delete_or_backspace :!S4 ["double-comma-mode" 0]]]]}

   ]
   :simlayer-threshold 250} 

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any

;; todo:
