 {:profiles
  {:Default {:default true
            :sim     80
            :delay   500
            :alone   500
            :held    500
}}

:templates {
    :open "open \"%s\""
    :open-app "open -a \"%s\""
}
 ;; simlayers are like layers, but only work in a certain 'time frame'.
 ;; you should probably only use them for letter keys that you type regularly.
 ;; for other keys, e.g. espace, you can probably just use a normal layer.
 :simlayers   {
        ;; :f-cmd {:key :f}
        ;; :j-cmd {:key :j}
        :m-sym {:key :m}
        :q-mod {:key :q}
        ;; :k-shift {:key :k}
        ;; :d-shift {:key :d}
        ;; :s-alt {:key :s}
        ;; :l-alt {:key :l}
        ;; :a-ctrl {:key :a}
        ;; :semi-ctrl {:key :semicolon}
 }

 :layers {
        ;; :v-mod {:key :v }
        ;; :launcher {:key :backslash}
 }

 :devices {
    :macbook [
            {:vendor_id 1452}
    ]
    :mistel [
            {:vendor_id 1241}
    ]
    :sofle [
            {:vendor_id 64562}
    ]
    :glove80 [
            {:vendor_id 5824}
    ]
 }

 :applications {
        :vscode "com.microsoft.VSCode"
 }

 :main [
        {:des "on mistel keyboard, command = alt and alt = command"
                :rules [:mistel
                        [:##left_command :##left_option]
                        [:##left_option :##left_command]
                        [:##right_option :##right_command]
                        [:##right_command :##right_option]

                        [:!Rdelete_or_backspace :!Odelete_or_backspace]
                        [:!OQspacebar :vk_none]
                ]}
        {:des "command + caps = command + ctrl + escape"
                :rules [
                        [:!Qcaps_lock :!COescape]
                        [:!Qescape :!COescape]
                        [:!Ccaps_lock :!COescape]
                        [:!Cescape :!COescape]
                        ]}

        {:des "vscode shortcuts"
                :rules [:vscode
                        [:!SOk :!SOup_arrow]
                        [:!SOj :!SOdown_arrow]
                        [:!STk :!STup_arrow]
                        [:!STj :!STdown_arrow]
                ]}

        {:des "either shift + fn + num = fn key"
                :rules [:mistel
                        [:!Rf1 :f1]
                        [:!Rf2 :f2]
                        [:!Rf3 :f3]
                        [:!Rf4 :f4]
                        [:!Rf5 :f5]
                        [:!Rf6 :f6]
                        [:!Rf7 :f7]
                        [:!Rf8 :f8]
                        [:!Rf9 :f9]
                        [:!Rf10 :f10]
                        [:!Rf11 :f11]
                        [:!Rf12 :f12]

                        [:!Sf1 :f1]
                        [:!Sf2 :f2]
                        [:!Sf3 :f3]
                        [:!Sf4 :f4]
                        [:!Sf5 :f5]
                        [:!Sf6 :f6]
                        [:!Sf7 :f7]
                        [:!Sf8 :f8]
                        [:!Sf9 :f9]
                        [:!Sf10 :f10]
                        [:!Sf11 :f11]
                        [:!Sf12 :f12]
                ]}

        ;; when holding down caps
        {:des "nav-layer mapping"
                :rules [:nav-layer
                 ;; ijkl arrows
                [:##d :left_command [:macbook :mistel]]
                [:##s :left_option [:macbook :mistel]]
                [:##a :left_shift [:macbook :mistel]]
                [:##h [{:key :left_arrow :repeat true}] [:macbook :mistel]]
                [:##j [{:key :down_arrow :repeat true}] [:macbook :mistel]]
                [:##k [{:key :up_arrow :repeat true}] [:macbook :mistel]]
                [:##l [{:key :right_arrow :repeat true}] [:macbook :mistel]]
                [:##y [{:key :!Oleft_arrow :repeat true}] [:macbook :mistel]]
                [:##u [{:key :!Odown_arrow :repeat true}] [:macbook :mistel]]
                [:##i [{:key :!Oup_arrow :repeat true}] [:macbook :mistel]]
                [:##o [{:key :!Oright_arrow :repeat true}] [:macbook :mistel]]
                [:##n [{:key :!Cleft_arrow :repeat true}] [:macbook :mistel]]
                [:##m [{:key :!Cdown_arrow :repeat true}] [:macbook :mistel]]
                [:##comma [{:key :!Cup_arrow :repeat true}] [:macbook :mistel]]
                [:##period [{:key :!Cright_arrow :repeat true}] [:macbook :mistel]]
                [:##spacebar :delete_or_backspace :macbook]
                 ]}
        {:des "tab meh-layer"
         ;; rectangle shortcuts- for qmk/zmk boards, just make tab key a mod on hold
                :rules [:meh-layer
                [:q :!SOTq :macbook]
                [:a :!SOTa :macbook]
                [:w :!SOTw :macbook]
                [:e :!SOTe :macbook]
                [:s :!SOTs :macbook]
                [:d :!SOTd :macbook]
                [:m :!SOTm :macbook]
                [:n :!SOTn :macbook]
                [:u :!SOTu :macbook]
                [:j :!SOTj :macbook]
                [:k :!SOTk :macbook]
                [:l :!SOTl :macbook]
                [:i :!SOTi :macbook]
                [:hyphen :!SOThyphen :macbook]
                [:6 :!SOT6 :macbook]
                [:comma :!SOTcomma :macbook]
                [:period :!SOTperiod :macbook]
                [:semicolon :!SOTsemicolon :macbook]
                [:o :!SOTo :macbook]
                [:p :!SOTp :macbook]
                ]}

        {:des "q-mod mapping"
                :rules [:q-mod
                [:u [:q :u]]
                [:2 :mute [:macbook :mistel]]
                [:3 :volume_decrement [:macbook :mistel]]
                [:4 :volume_increment [:macbook :mistel]]
                [:w :display_brightness_decrement [:macbook :mistel]]
                [:e :display_brightness_increment [:macbook :mistel]]
                [:r :mission_control [:macbook :mistel]]
                [:s :rewind [:macbook :mistel]]
                [:d :play_or_pause [:macbook :mistel]]
                [:f :fastforward [:macbook :mistel]]
                [:j :quote [:macbook :mistel]]
                [:k :!Squote [:macbook :mistel]]
                [:i [:!Squote :!Squote :left_arrow] [:macbook :mistel]]
                [:comma :!COleft_arrow [:macbook :mistel]]
                [:period :!COright_arrow [:macbook :mistel]]
                [:o :!Tleft_arrow [:macbook :mistel]]
                [:p :!Tright_arrow [:macbook :mistel]]
                [:h [:spacebar :equal_sign :spacebar] [:macbook :mistel]]
                [:l [:grave_accent_and_tilde :grave_accent_and_tilde :left_arrow] [:macbook :mistel]]
                [:semicolon [:!Squote :!Squote :left_arrow] [:macbook :mistel]]
                [:quote [:quote :quote :left_arrow] [:macbook :mistel]]
        ]}

        {:des "v-mod mapping"
        :rules [:v-mod
                [:e [:z :e] [:macbook :mistel]]
                [:semicolon :equal_sign [:macbook :mistel]]
                [:j :!S9 [:macbook :mistel]]
                [:k :!S0 [:macbook :mistel]]
                [:m :open_bracket [:macbook :mistel]]
                [:comma :close_bracket [:macbook :mistel]]
                [:u :!Sopen_bracket [:macbook :mistel]]
                [:i :!Sclose_bracket [:macbook :mistel]]
                [:l :!Shyphen [:macbook :mistel]]
                [:semicolon :equal_sign [:macbook :mistel]]
                [:o :hyphen [:macbook :mistel]]
                [:p :!Sequal_sign [:macbook :mistel]]
                [:period :!Sbackslash [:macbook :mistel]]
                [:slash :backslash [:macbook :mistel]]
                [:x :!S1 [:macbook :mistel]]
                [:c :!S2 [:macbook :mistel]]
                [:v :!S3 [:macbook :mistel]]
                [:b :!S4 [:macbook :mistel]]
                [:s :!S5 [:macbook :mistel]]
                [:d :!S6 [:macbook :mistel]]
                [:f :!S7 [:macbook :mistel]]
                [:g :!S8 [:macbook :mistel]]
                [:spacebar :!Td]
                ]}

        {:des "m-sym mapping"
        :rules [:m-sym
                [:z :!S1 [:macbook :mistel]]
                [:x :!S2 [:macbook :mistel]]
                [:c :!S3 [:macbook :mistel]]
                [:v :!S4 [:macbook :mistel]]
                [:b :!Sgrave_accent_and_tilde [:macbook :mistel]]
                [:a :!S5 [:macbook :mistel]]
                [:s :!S6 [:macbook :mistel]]
                [:d :!S7 [:macbook :mistel]]
                [:f :!S8 [:macbook :mistel]]
                [:g :grave_accent_and_tilde [:macbook :mistel]]

                [:1 :f1 [:macbook :mistel]]
                [:2 :f2 [:macbook :mistel]]
                [:3 :f3 [:macbook :mistel]]
                [:4 :f4 [:macbook :mistel]]
                [:5 :f5 [:macbook :mistel]]
                [:6 :f6 [:macbook :mistel]]
                [:7 :f7 [:macbook :mistel]]
                [:8 :f8 [:macbook :mistel]]
                [:9 :f9 [:macbook :mistel]]
                [:0 :f10 [:macbook :mistel]]
        ]}

        ;; when caps is held, it sets caps-mod to 1. this means that unlike the other
        ;; simlayers, i can hold it for a second and then still be in caps-mod.
        {:des "caps lock = escape if tapped alone, acts as modifier when held"
        :rules [:macbook
                [:caps_lock ["nav-layer" 1] nil {:alone [:escape] :afterup ["nav-layer" 0]}]
        ]}

        ;; this comes later or else command tab doesn't work
        {:des "tab meh" :rules [
                [:tab ["meh-layer" 1] nil {:alone [:tab] :afterup ["meh-layer" 0]}]
        ]}

        {:des "switch colon and semicolon"
        :rules [
                [:semicolon :!Ssemicolon]
                [:!Ssemicolon :semicolon]
        ]}

        {:des "backslash to hyper when held"
        :rules [
                [:backslash :vk_none nil {:alone [:backslash] :held [:!CTOleft_shift] :params {:held 100}}]
        ]}


         {:des "either shift + fn + num = fn key"
                :rules [:glove80
                        [:f6 :rewind]
                        [:f7 :play_or_pause]
                        [:f8 :fastforward]
                        [:f9 :volume_decrement]
                        [:f10 :volume_increment]
                ]}

        ;; {:des "test for double-tap mode"
        ;; :rules  [
        ;; ;; set double esc mode if already pressed once
        ;; [:comma ["double-comma-mode" 1] ["comma-pressed-once" 1]]
        ;; ;; if not already pressed once, set already pressed and unset doube comma mode
        ;; [:comma [["comma-pressed-once" 1]] ["double-comma-mode" 0] {
        ;;         :delayed {
        ;;                 ;; if we press comma and then nothing after
        ;;                 :invoked [:comma ["comma-pressed-once" 0]]
        ;;                 ;; if we press comma and then another key shortly after
        ;;                 :canceled [:comma ["comma-pressed-once" 0]]}
        ;;         :params {:delay 250}}]
        ;;                 ;; if we are in double comma mode, do these
        ;;         :double-comma-mode
        ;;         [:comma ["double-comma-mode" 0]]
        ;;         [:a [:delete_or_backspace :!S4 ["double-comma-mode" 0]]]]}

   ]
   :simlayer-threshold 300}

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any


;; anatomy of a rule:
;; simple remapping: [:from_code :to_code]
;; multiple to's: [:from_code [:to_code_1 :to_code_2 ["var" 1]]
;; conditional remapping: [:from_code :to_code :condition]
;; multiple conditions: [:from_code :to_code [:condition1 :condition2] (can use ! for negation)
;; simultaneous: [[:period :comma] :!S1] ;;map simultaneous period and comma to !
;; you can also define an "other options" section for stuff like if held, if alone:
;; [[:comma :comma nil {
;;                 ^condition is 'nil', so by default, it goes to comma.
;;         :held [:delete_or_backspace :!S1]
;;         :params {:held 200}}]]


